/*
RoundedCorner website theme by Abdussamad Abdurrazzaq

http://abdussamad.com
http://websitetheme.com

 */
 
 body
{
padding:.5em 1em;

margin:0px;
font-family: Arial, sans-serif;
font-size:11pt;
background-color:#f5f5f5;
}

#banner_tc{
background-image:url("./img/htc.gif");
background-position:top center;
background-repeat:repeat-x;

}
#banner_rc
{
background-image:url("./img/hrc.gif");
background-position:right;
background-repeat:repeat-y;
}
#banner_lc
{
background-image:url("./img/hlc.gif");
background-position:left;
background-repeat:repeat-y;

padding:0px 0px 0px 0px;
margin:0px;
background-color:#333366;
}
#banner_bc
{
background-image:url("./img/hbc.gif");
background-position:bottom center;
background-repeat:repeat-x;
}
#banner_tl
{
background-image:url("./img/htl.gif");
background-position:top left;
background-repeat:no-repeat;
}
#banner_tr
{
background-image:url("./img/htr.gif");
background-position:top right;
background-repeat:no-repeat;
text-align:center;
}
#banner_bl
{
background-image:url("./img/hbl.gif");
background-position:bottom left;
background-repeat:no-repeat;
}
#banner_br
{
background-image:url("./img/hbr.gif");
background-position:bottom right;
background-repeat:no-repeat;
}
#top_nav
{
position:relative;
bottom:1.25em;
left:0em;
height:1em;
text-align:center;color:#000;
font-family:georgia,serif	;


}
#top_nav a,#top_nav a:visited,#top_nav a:hover{color:#000 !important; padding:0px 1.5em;font-weight:bold;}


#content_right_only_position
{
position:relative;
float:left;
width:73%;

background-color:transparent;
}

#content_left_only_position
{
position:relative;
float:right;
width:73%;

}

#content_middle_position
{
position:relative;
float:left;
width:46%;

}

#content_tc{
background-image:url("./img/content_tc.gif");
background-position:top center;
background-repeat:repeat-x;position:relative;

}
#content_rc
{
background-image:url("./img/content_rc.gif");
background-position:right;
background-repeat:repeat-y;position:relative;
}


#content_lc
{
background-image:url("./img/content_lc.gif");
background-position:left;
background-repeat:repeat-y;
margin:0px;
background-color:white;
color:black;position:relative;

}

#content_bc
{
background-image:url("./img/content_bc.gif");
background-position:bottom center;
background-repeat:repeat-x;position:relative;
}
#content_tl
{
background-image:url("./img/content_tl.gif");
background-position:top left;
background-repeat:no-repeat;position:relative;
}
#content_tr
{
background-image:url("./img/content_tr.gif");
background-position:top right;
background-repeat:no-repeat;
position:relative;
}
#content_bl
{
background-image:url("./img/content_bl.gif");
background-position:bottom left;
background-repeat:no-repeat;position:relative;
}
#content_br
{
background-image:url("./img/content_br.gif");
background-position:bottom right;
background-repeat:no-repeat;position:relative;
}


#content_inside{
position:relative;
padding:25px;
}
#content_inside img{position:relative;}

.sidebar_tc{
background-image:url("./img/sidebar_tc.gif");
background-position:top center;
background-repeat:repeat-x;

}
.sidebar_rc
{
background-image:url("./img/sidebar_rc.gif");
background-position:right;
background-repeat:repeat-y;

}
.sidebar_lc
{
background-image:url("./img/sidebar_lc.gif");
background-position:left;
background-repeat:repeat-y;
background-color:#333366;
}
.sidebar_bc
{
background-image:url("./img/sidebar_bc.gif");
background-position:bottom center;
background-repeat:repeat-x;
}
.sidebar_tl
{
background-image:url("./img/sidebar_tl.gif");
background-position:top left;
background-repeat:no-repeat;
}
.sidebar_tr
{
background-image:url("./img/sidebar_tr.gif");
background-position:top right;
background-repeat:no-repeat;
padding:20px;
}
.sidebar_bl
{
background-image:url("./img/sidebar_bl.gif");
background-position:bottom left;
background-repeat:no-repeat;
}
.sidebar_br
{
background-image:url("./img/sidebar_br.gif");
background-position:bottom right;
background-repeat:no-repeat;
}

.right_sidebar_container
{

float:right;
width:26%;

}

.left_sidebar_container
{

float:left;
width:26%;
}
 
h4,h3 {
    margin: 0;
}

#RightSideBar {

    padding:0px;
		
}

#LeftSideBar {
        padding:0px;

}


input, textarea {
    font-size: 10pt;
    font-family: Arial, sans-serif;
}



#banner {
 	background-color: inherit;
	color:#ffffff;
	height:7.5em;

}

a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#banner h1 {
    color: #FFFFFF;
    background-color:inherit;
    font-family: Arial, sans-serif;
    font-size : 16pt;
    padding:1em 0em 0em 0em;
    margin: 0px;		
    text-decoration: none;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#banner h2 {
    color: #FFFFFF;			
	background-color:inherit;
    padding:0em;
    font-size: 12pt;
    font-style:italic;
    margin: 0px;
    text-decoration: none;
}

.entry_title {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 10px;
    color:#000000;
    background-color:inherit;
  }

.entry_title a:link,
.entry_title a:visited {
	
   text-decoration: none;
   border: 0;
   color: #000000;
   background-color:inherit;
}

.entry_title a:hover {
  background-color:inherit;
  color:#000066;
	 text-decoration:none;
}


.entry {
    font-family: Arial, sans-serif;
    font-size: 11pt;
    font-weight: normal ;line-height:150%;
 
}

.entry a:link,.entry a:visited{ color:#3366ff;}
.entry a:hover{color:#000066;}

.entry img{border:0px}
.entry_date {
    font-family:Arial, sans-serif;
    font-size: 9pt;
    margin: 20px 0px;
    text-align: left;
	font-weight:bold;
	color:#a9a9a9;
}

div.entryFooter {
    font-family: Arial, sans-serif;
    font-size:9pt;
    color: #a9a9a9;
		background-color:inherit;
	
    padding:  4px;
    clear: both;
		margin-top:1em;
		margin-bottom:3em;
		}

a{background-color:transparent;}
a:link,
a:visited,
a:active {
    color: #6699ff;		background-color:inherit;
    text-decoration: none;
}
a:hover {
   color:#000066;		
   background-color:inherit;
    text-decoration: underline;
}


div.SideBarItem {
    padding-bottom: 12px;
    margin-bottom: 2em;
    font-size: 12px;
    font-weight:normal;line-height:150%;
   color:#fff;
}
div.SideBarItem  a:hover{color:#6699ff;}
div.SideBarItem img {border:0px;}
.SideBarTitle {
    
    font-family: arial, sans-serif;
    color: #FFFFFF;		background-color:inherit;
    font-size: 1em;
    font-weight:bold;
				text-align:left;
    margin:10px 0px;
		
}

.imageComment_center,
.imageComment_left,
.imageComment_right {
	position:relative;
    border: 1px solid #DDDDDD;
		color:black;
    background-color: #f0f8ff;
    margin: 3px;
    padding: 3px;
    text-align: center;
}
.imageComment_center a img,
.imageComment_left a img,
.imageComment_right a img
{
	
	border: 0px}


.imageComment_left{
 float: left;	
margin-right:10px;

}
.imageComment_right{
margin-left:10px;
 float: right;
}

.imageComment_center {
    margin: auto;
}


.imageComment_img,
.imageComment_img img {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.imageComment_txt {
    border-top: 1px solid #DDDDDD;
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: 10pt;
    text-align: center;
}
.credit_footer
{
	clear:both;
margin:1em;

width:auto;

		font-size:.75em;
	text-align:center;	
}
.credit_footer a,.credit_footer a:visited
{text-decoration:underline;
color:#000; 
}

